In [106]:
from datetime import date,time,datetime,timedelta

## 1. Date Class

In [109]:


# Creating a date object for September 11, 2024
my_date = date(2024, 9, 11)

#### Attributes
1. Year
    * This attribute gives you the year of the date.

In [112]:
print(my_date.year)

2024

2. Month  
    * This attribute gives you the month of the date.

In [115]:
print(my_date.month)

9

3. Day
      * This attribute gives you the day of the date.

In [118]:
print(my_date.day)

11

#### Methods
1. today()
    * This method returns the current local date.

In [121]:
today_date = date.today()
print(today_date)

2024-09-13

2. fromtimestamp(timestamp):
    * Creates a date object from a POSIX timestamp (seconds since January 1, 1970).

In [124]:
import time
timestamp_date = date.fromtimestamp(time.time())
print(timestamp_date)

2024-09-13

3. fromisoformat(date_string)
    * Creates a   'date object'   from   a 'string'   in the ISO format (YYYY-MM-DD)

In [127]:
iso_date = date.fromisoformat("2023-09-11")
print(iso_date)

2023-09-11

4. toordinal():
    * Converts the date to a proleptic Gregorian ordinal, which is the number of days passed since January 1, 1 ( i.e. from the first day when  Gregorian  calender was created ).

In [130]:
ordinal = my_date.toordinal()
print(ordinal)

739140

5. replace(year, month, day)
    * Returns a new date object with the specified year, month, and day, replacing the values of the current date.

In [133]:
new_date = my_date.replace(year=2026 ,month=10)
print(new_date)

2026-10-11

6. strftime(format)
    * Formats the date as a string according to a specified format

In [136]:
my_date2 = my_date.strftime("%B %d, %Y") # format can be whatever you want (it can just be month alone or date alone any repeated multiple times)

"""
%Y: Four-digit year (e.g. 2023)
%y: Two-Digit year (e.g. 2024 -> 24)
%m: Two-digit month (01 to 12)
%d: Two-digit day (01 to 31)
%H: Two-digit hour (00 to 23)
%M: Two-digit minutes (00 to 59)
%S: Two-digit seconds (00 to 59)
%B Name of the month (full form)
%b Name of the month (short form)
%D date in ( mm/dd/yy ) format
"""

print(my_date2)

September 11, 2024

-----------------
## 2. Time Class
#### Attributes
1. hour ( works same as year in date calss buit it gives hour of our time (0 to 23 ))
2. minute (works same as month in date calss buit it gives minute part of our time (0 to 59))
3. seconds (works same as day in date calss buit it gives seconds of our time (0 to 59))
4. microsecond (Represents the microsecond of the time (0 to 999999))

In [139]:

#example
from datetime import time
t = time(14, 30)
#hour
print(t.hour)  
#minute
print(t.minute)  
#second
print(t.second) 
#microsecond
t_with_micro = time(14, 30, 45, 500000)
print(t_with_micro.microsecond)

14
30
0
500000

#### Methods
1. time()
    * gives number of seconds that have elapsed since January 1, 1970, at 00:00:00 UTC

In [166]:
current_time = time.time()
print(current_time)

1726223488.8415573

2. fromisoformat(time_string)
    * Creates a time object from a string in ISO format (HH:MM:SS)

In [145]:
iso_time = time.fromisoformat("14:30:00:9999")
print(iso_time)

14:30:00.999900

3. strftime(format)
    * Formats the time as a string according to a specified format

In [170]:
formatted_time = iso_time.strftime("%H:%M:%S")
print(formatted_time)

14:30:00

## 3. Datetime Class
#### Attributes
* combined attirbutes of date and time class can be used for date time class in the same way we use them for in their respective class
  1. .year ,.month ,.day of Date class
  2. .hour, .minute, .second, .microsecond of
#### Methods 
1. now(tz=none)
    *  Returns the current local date and time.
    *  You can specify a time zone with tz.

In [151]:
current_datetime = datetime.now()
print(current_datetime)  # this gives the current date and time
# now if you wanna give timezone to now() function, you gotta import "pytz"  library and create a timezone object for it
# eg :
import pytz
new_york_tz = pytz.timezone('America/New_York') # Now This line creates a timezone object for New York but does not give you the current date and time. 
                                                # It simply tells your program what timezone you want to work with

# now to get the time in NY we well give  new_york_tz object as a attribute to now( )function
current_time_ny = datetime.now(new_york_tz)
print(f"Current time in New York: {current_time_ny}")

2024-09-13 16:00:42.031208
Current time in New York: 2024-09-13 06:30:42.031208-04:00

2. utcnow():
    * Returns the current UTC date and time.
    * NOTE ->  utcnow() is deprecated and scheduled for removal in a future version

In [154]:
utc_datetime = datetime.utcnow()
print(utc_datetime)
# Im'ma forget this shit asap cuz its about be removed anyways and i hate history of whatever nn(i don't even care about my gf's history (i don't have one ;) ))

2024-09-13 10:30:42.415487

C:\Users\Asus\AppData\Local\Temp\ipykernel_16836\1731044361.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  utc_datetime = datetime.utcnow()

3. fromtimestamp(timestamp)
    * Creates a datetime object from a POSIX timestamp. which is a representation of time as the number of seconds that have elapsed since January 1, 1970, at 00:00:00 UTC

In [157]:
import time
timestamp=time.time() # .time() is the a attribute to time module ? library ? class?  idk what that is but it is its attribute
# I wanna see how many seconds have elapsed since 1 january 1970 so lets print it XP
print(f"Seconds elspsed since 1 january 1970 XO :{timestamp} ")
timestamp_datetime = datetime.fromtimestamp(timestamp) # this line gets us todays date based on timestamp object we created on the line before this one
                                                       # basically its nothing much just converts seconds into years months,days,hours,minutes and seconds/ms and add them to 1 january 1970 -_- took me 10 minutes to understand this shit -_- ig im slow

print(timestamp_datetime)

Seconds elspsed since 1 january 1970 XO :1726223442.7907772
2024-09-13 16:00:42.790777

4. fromisoformat(date_string)
    * Creates a datetime object from a string in the ISO 8601 format (YYYY-MM-DD HH:MM:SS or YYYY-MM-DDTHH:MM:SS).

In [160]:
#enough timepass let's focus 

# Create a datetime object from an ISO formatted string
iso_date_string = "2024-09-11T14:30:00" # just a lonely string TT 
dt_from_iso = datetime.fromisoformat(iso_date_string) # converting string to datetime object so it wont be lonely YAY! 
print("Datetime from ISO format:", dt_from_iso)

Datetime from ISO format: 2024-09-11 14:30:00

5. strptime(date_string, format)
    * The strptime() method parses a string representing a date and time according to a specified format and returns a corresponding datetime object. This method is useful when the date string does not conform to the ISO format.
    * example :

In [163]:
# Create a datetime object from a custom formatted string
date_string = "11-09-2023 14:30"
format_string = "%d-%m-%Y %H:%M"
dt_from_str = datetime.strptime(date_string, format_string)

print("Datetime from custom format:", dt_from_str)

Datetime from custom format: 2023-09-11 14:30:00

5. isoformat() : can similarly used as before
6. strftime(format) :same as before

------------------------------------------------------------------------------------------------------------
## 4. TimeDelta 
* The timedelta class is used to represent a duration, which is the difference between two dates or times.
#### Attributes 
1. days :
    * Represents the number of days in the given duration

In [189]:
from datetime import timedelta
delta = timedelta(weeks=2)
print(delta.days)

14

2. seconds :
    * Represents the number of seconds in the given duration.  range (0 to 86399)

In [200]:
delta = timedelta(hours=1)
delta1 = timedelta(hours=23,minutes=59,seconds=59)
print(delta.seconds ) 
print(delta1.seconds )

3600
86399

3. microseconds :
    * Represents the number of microseconds in the given duration . range - (0 to 999999).

In [223]:
delta = timedelta(microseconds=500)
print(delta.microseconds) #seems pretty useless to me but who knows where it is gonna be used

500

4. total_seconds()
    * Returns the total duration in seconds as a floating-point number

In [233]:
delta = timedelta(days=1, hours=2 ,microseconds=7848)
print(delta.total_seconds()) #

93600.007848

# END